	/*forms*/
    #buttonSubmitForms{
        background-color: $colorBtn;
    }
    #fontFamilyForm{
        font-family: MV Boli;
    }
    #box{
        margin-top: 150px;
        margin-bottom: 80px;
        height: 80%;
        box-shadow: 10px 10px 60px rgba(179, 175, 175, 0.4),inset 0px 0px 10px  rgba(233, 232, 232, 0.4);
    }
    .shadowLogin{
        border-radius: 15px;
        box-shadow: 0px 10px 50px -10px #d6d6d6;
        &:hover{
            transform: translateY(-5px);
        }
        .labelLogin{
            font-weight: bold;
        }
    }
    
    .shadowRegister{
        border-radius: 15px;
        
            &:hover{
                transform: translateY(-5px);
            }
        .labelRegister{
            font-weight: bold;
        }
    }