/* ===================================================================================================================================
=============================================================PageAccueil==============================================================
====================================================================================================================================== */
#pageHome{ 
	background-image:url(../img/83-838362_web-developer.jpg);
	background-size: cover;
    background-repeat: no-repeat;
	font-family: sans-serif;
    padding-left: 0;
    padding-right: 0; 
    height: 100vh;
}
/*Navbar*/
#discoverNavbar{
	cursor: pointer;
}
#slogan{
	margin-top: 10%;
	font-family: 'Raleway', sans-serif;
	font-size: 8vh;
}
#buttonDiscover{
	/* display: block; */
	background: transparent;
	/* padding: 15px; */
	cursor: pointer;
	text-decoration: none;
	width: 320px;
	text-align: center;
	font-size: 20px;
	/* padding-top: 20px; */
	font-weight: normal;
	/* margin-top: 120px;
	margin-left: 21%; */
	color: white;
	border: 1px solid #DCE0D9;
	text-transform: uppercase;
	&:hover{
		color: #ceb982;
		background-color: white;
		transition: all 0.3s ease-in 0s;
	}
}

#secondButton{
	/* display: block; */
	background: #DCE0D9;
	/* padding: 15px; */
	cursor: pointer;
	text-decoration: none;
	width: 320px;
	text-align: center;
	font-size: 20px;
	/* padding-top: 20px; */
	font-weight: normal;
	/* margin-top: 120px; */
	/* margin-left: 9%; */
	color: black;
	border: 1px solid #DCE0D9;
	text-transform: uppercase;
}
#secondButton:hover{
	color: #ceb982;
	background-color: white;
	transition: all 0.3s ease-in 0s;
}
.navbarColor{
	background-color: rgba(40, 45, 50, 0.8);
}